/vendor/
/node_modules/
.env
.env.*.local
.DS_Store
*.log
storage/framework/cache/data/*
!storage/framework/cache/data/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
storage/logs/*
!storage/logs/.gitkeep
public/uploads/*
!public/uploads/.gitkeep
public/storage/*
!public/storage/.gitkeep
.phpunit.result.cache
.php_cs.cache
